<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top custom-footer">
        <p class="col-md-4 mb-0 text-body-secondary">©
            <script>document.write(new Date().getFullYear());</script> Book Project
        </p>
        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
            aria-label="Bootstrap">
            <i class="fas fa-book fa-2x me-2 footer-book"></i>
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a href="https://facebook.com" target="_blank" class="nav-link px-2 text-body-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com" target="_blank" class="nav-link px-2 text-body-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://instagram.com" target="_blank" class="nav-link px-2 text-body-secondary">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://linkedin.com" target="_blank" class="nav-link px-2 text-body-secondary">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>