<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>

<body>
    <div class="page-wrapper">
        <%- include('partials/header.ejs'); -%>
            <div class="content">
                <div class="form-card">
                    <h1>Book added successfully!</h1>
                    <a href="/add">Add another book</a>
                </div>
            </div>
            <%- include('partials/footer.ejs'); -%>
    </div>
</body>

</html>