<%- include("partials/header.ejs") %>
    <h1 id="posts-h1">Popular posts</h1>
    <div class="popular-posts ">
        <ul class="no-dots">
            <li><a href="https://www.seriouseats.com/most-popular-instagram-posts-2024-8763646" target="_blank">We Taste-Tested 11 Supermarket Unsalted Butters—Here Are Our Favorites</a></li>
            <li><a href="https://everyday-reading.com/the-most-popular-blog-posts-in-2024/" target="_blank">The Most Popular Blog Posts in 2024</a></li>
            <li><a href="https://hellohappinessblog.com/2024/12/top-10-most-read-blog-posts-of-2024/" target="_blank">Top 10 Most Read Blog Posts of 2024</a></li>
            <li><a href="https://stylebyemilyhenderson.com/what-blogs-do-you-read-plus-2024-blog-thoughts" target="_blank">What Blogs Do You Read? + Plus 2024 Blog Thoughts</a></li>
            <li><a href="https://www.americanscientist.org/blog/from-the-staff/the-best-blogs-of-2024" target="_blank">The Best Blogs of 2024</a></li>
            <li><a href="https://stephanywrites.com/best-of-2024-the-year-in-blogging/" target="_blank">Best of 2024: The Year in Blogging</a></li>
        </ul>
    </div>

<%- include("partials/footer.ejs") %>